.px-1 {
  padding-right: .25rem!important;
  padding-left: .25rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.pe-10 {
  padding-right: 10.5rem !important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.ps-0 {
  padding-left: 0!important;
}

